* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgba(128, 128, 128, 0.65); */
    box-sizing: border-box;
    
}

nav {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 1px 0.3px rgba(27, 26, 26, 0.586);
    width: 100%;
    /* scroll-margin-top: 70px; */
}

.begin {
    background: linear-gradient(rgb(163, 140, 78), rgba(47, 37, 10, 0.85));
    background-attachment: fixed;
    color: rgba(249, 239, 190, 0.931); 

}

.whatt {
    /* background-color: rgba(128, 128, 128, 0.295); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 446px; */
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
}
.boxed{
background-color: rgb(163, 140, 78);
}

 ul li  {
    /* border:solid 1px red; */
    /* list-style: none; */
    font-size: 14px;
    font-family:sans-serif;
    color: rgba(249, 239, 190, 0.931);
 }

.right {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 400px;
    /* border: solid black 1px; */
}

.img img{
filter: sepia(100) blur(1px);
}

.img :hover{
  filter: none;
}


.left {
    position: fixed;
    bottom: 0;
    /* border: solid black 1px; */
    display: flex;
    height: 300px;
    width: 43px;
    ;
}
.social a{
color: rgb(249, 239, 209);
}
.social a :hover {
    color: goldenrod;
    }

    .email a{
        color: rgb(249, 239, 209);;
        }
        .email :hover {
            color: goldenrod;
            }
.svg {
    /* color: goldenrod; */
}

.div2 {
    /* border: solid 1px black; */
    justify-content: center;
}

.div2 div {
    margin-bottom: 20px;
    /* border: black 1px solid; */
    /* margin: auto; */
}

 .one  {
    color: goldenrod;
}

.two {
    color: rgb(249, 239, 209);
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 0 0 3px rgb(226, 226, 226);

}

.too {
    color: rgb(249, 239, 209);
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 0 0 3px rgb(226, 226, 226);

}
.div2 :nth-child(3) {
    color: rgba(249, 239, 190, 0.931);
    /* border: thin solid black; */
    width: 60%;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;

}

.div2 :nth-child(4) .btn {
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
    /* background-color: red; */
}
.div2 :nth-child(4) :hover{
    background-color: rgba(218, 165, 32, 0.3) !important; 
    /* box-shadow: ; */
   
}
.link{
    width: 100px;
    height: 60px;


}